<!DOCTYPE html>
<html>
    <head>
        <link rel="shortcut icon" href="#">

        <title>Functions</title>
    </head>
    <body>
        <h1>Node js</h1>
        <p><%= result %></p>
        <h1>Calculo</h1>
        <h5>La suma de 50000 (+) 4000 es igual a = <h4><%= sumars %></h5>
        <h5>La resta de 50000 (-) 4000 es igual a = <h4><%= restars %></h5>
        <h5>La multiplicación de 50000 (*) 4000 es igual a = <h4><%= multiplicars %></h5>
        <h5>La división de 50000 (/) 4000 es igual a = <h4><%= dividirs %></h5>
        <h1>Random Number</h1>
        <p><%= result3 %></p>
    </body>
</html>